.account-avatar {
  transform: scale(2);
  margin: 1.1rem 1.5rem;
  transition: all 0.15s;
  border: 1.5px solid transparent;
  cursor: pointer;
}

#refresh {
  transform: rotate(0deg);
  transition: transform 0.5s;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.paused {
  animation-play-state: paused;
}

.avatar-container {
  display: flex;
  justify-content: center;
}

.avatar-container p {
  text-align: center;
  position: absolute;
  width: 100%;
  min-width: fit-content;
  max-width: 200%;
  top: 100%;
}

.account-avatar:not(#addAccount):hover {
  opacity: 0.8;
  border-color: rgb(var(--colors-secondary));
}

.avatar-wrapper.selected .account-avatar {
  border-color: rgb(229 231 235 / var(--tw-bg-opacity));

}

.account-avatar {
  object-fit: cover;
}

.smaller-icon {
  transform: scale(0.5);
}


.avatar-wrapper:hover .close-button {
  display: flex;
}

.close-button {
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: white;
  aspect-ratio: 1;
  padding: 0.3rem;
}

.close-button::after {
  content: 'x';
  font-size: 1.5rem;
  color: rgb(var(--colors-text));
  height: fit-content;
  line-height: 1rem;
  font-size: 0.7rem;

}

.userMessage {
  height: 1rem;
  color: rgb(69, 201, 69);
}

.userMessage:not(:empty) {

  animation: show 5s ease-in-out forwards;
}

.usersList {
  gap: 2rem 1rem;
}

@keyframes show {

  0% {
    opacity: 0;
  }

  6% {
    opacity: 1;
  }

  94% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
