.accounts-container {
  background-color: rgb(var(--colors-background-accentB));
  border-radius: 8px;
  margin-top: max(1rem, 20vh);
  min-height: 200px;
  display: flex;
  flex-direction: column;
}

.account-avatar {
  transform: scale(2);
  margin: 1.1rem 1.5rem;
  transition: all 0.15s;
  border: 1px solid transparent;
  cursor: pointer;
}

.avatar-container {
  display: flex;
  justify-content: center;
}

.avatar-container p {
  text-align: center;
  position: absolute;
  width: 100%;
  min-width: fit-content;
  max-width: 200%;
  top: 100%;
}

.account-avatar:hover {
  opacity: 0.8;
  border-color: rgb(var(--colors-secondary));
}

.avatar-wrapper.selected .account-avatar {
  border-color: rgb(var(--colors-secondary));
}

.smaller-icon {
  transform: scale(0.5);
}


.avatar-wrapper:hover .close-button {
  display: flex;
}

.close-button {
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: white;
  aspect-ratio: 1;
  padding: 0.3rem;
}

.close-button::after {
  content: 'x';
  font-size: 1.5rem;
  color: rgb(var(--colors-text));
  height: fit-content;
  line-height: 1rem;
  font-size: 0.7rem;

}
